<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <ion-card-content>
      <div id="login">
      <ion-card-title class="ion-text-center">Login</ion-card-title> 
    </div>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
         
    </ion-card-content>
    <div id="boton">
      <ion-button class="ion-padding ion-text-center" color="primary">Ingresar</ion-button>
    </div>
  </ion-card>
  
</ion-content>
